@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.teamPresent{
    height: 800px;
    background-image: linear-gradient(rgba(29, 29, 29, 0.8) , rgba(0, 26, 139, 0.7)), linear-gradient(transparent 50px, white), url("https://img.besthqwallpapers.com/Uploads/23-11-2019/112597/old-compass-blue-background-retro-compass-vintage-things-navigation-concepts.jpg");
    background-position: center;
    background-size: cover;
    color: white;
 
}

.teamPresent #logo{

    margin: 10px;
    height: 150px;
}
.teamPresent #gif{

}
.teamPresent h1{
    font-size: 50px;
    margin: 10px auto;
    text-align: center;
    padding-top: 100px;
}
.btn{
    width: fit-content;
    margin: 0 auto;
    margin-top: 50px;
}

.btn h1{

    border-radius: 50px;
    padding: 3px 15px;
    font-size: 40px;
    margin: 10px auto;
    text-align: center;
    border: 1px solid white;
}
.btn h1:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.gif{
    opacity: 0;
}
.gif.active{
    opacity: 1;
}
.gif{
    margin-top: -60px;
    margin-left: 400px;
}
.team{

    height: 1700px;
    background-image: linear-gradient(rgba(54, 69, 202, 0.8) , rgba(0, 26, 139, 0.7)), linear-gradient(transparent 50px, white), url("https://st.depositphotos.com/1732591/2676/v/950/depositphotos_26763071-stock-illustration-nautical-and-marine-icons-background.jpg");
    background-position: center;
    background-size: cover;

    justify-content: space-between;
    padding-top: 100px;
    
}
.team div{
    display: flex;
}
.team h1{
    color: white;
    text-align: center;
    margin-bottom: 50px;
}
.team img{
    
    height: 250px;
    border-radius: 60px;
    margin: 0 auto;
}
table{

    width: 400px;
    margin-right: 200px;
    border: 2px solid black;
    background-color: white;
    border-radius: 30px;
    height: 400px;
}
.nav2, #slowpok{
    margin-top: 100px;
}
#h1{
    margin-top: 100px;
    font-size: 50px;
}
p{
    margin: 0 auto;
    width: 400px;
    color:white;
    font-size: 25px;
    border: 2px solid white;
    padding: 35px;
    border-radius: 30px;
    margin-top: 70px;
}